.logo {
    text-align: center;
    margin: 10px;
}

.form {
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    margin: 20px auto;
    border-radius: 20px;
}

.login {
    width: 300px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .form {
        width: 580px;
    }
}

.box_input_with_btn {
    display: flex;
    align-items: center;
}

.box_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.list_user {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
    }
}

.list_item {
    margin-right: 10px;
    position: relative;

    &:after {
        content: '|';
        margin-left: 10px;
        color: #909090;
    }

    &:last-child:after {
        content: none;
    }
}
