@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include mobile {
        width: 100%;
        padding: 50px 0;
    }
    @include desktop {
        width: 768px;
        margin: 0 auto;
        padding: 130px 0;
        &.main {
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            flex-direction: row;
        }
    }
}

.description {
    word-break: keep-all;
    &.center {
        text-align: center;
    }
}
