@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

.main_container {
    background-color: #f3f3f4;
    box-sizing: border-box;
    justify-content: center;

    &.column {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container {
    display: flex;
    align-items: center;
    @include mobile {
        width: 100%;
        flex-direction: column;
    }
    @include desktop {
        width: 768px;
        margin: 0 auto;
        flex-direction: row;
    }
    &.intro {
        justify-content: space-between;
        @include mobile {
            padding: 50px 0;
        }
        @include desktop {
            padding: 130px 0;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            &.bottom {
                flex-direction: column;
            }
        }
    }
}

.description {
    word-break: keep-all;
    &.center {
        text-align: center;
    }
    .head {
        display: flex;
        align-items: start;
        > h2 {
            flex-grow: 2;
        }
    }
    &.fit {
        h2 {
            margin: 0;
            padding: 10px 0;
        }
        p {
            margin: 0;
        }
    }
}
