.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000bb;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_dialog {
        width: 300px;
        height: auto;
        padding: 10px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;

        background-color: white;
        border: 1px solid black;
        border-radius: 30px;

        $height: 30px;

        .modal_header {
            text-align: center;
            .modal_title {
                font-weight: 800;
                margin: 5px;
            }
            .modal_sub_title {
                font-size: small;
                color: gray;
            }
        }

        .modal_body {
            .varify_result {
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
        .modal_footer {
            display: flex;
            .btn {
                height: $height;
                margin: 10px;
            }
        }
    }
}
