.container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #f3f3f4;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    margin: 10px;
}

.form_login,
.form_signup,
.form_find_username,
.form_find_password {
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    margin: 20px auto;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .form_login,
    .form_signup,
    .form_find_username,
    .form_find_password {
        width: 580px;
        margin: 20px auto;
        padding: 55px 70px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
}

.input_item {
    margin: 10px 0;
}

.box_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_email,
.input_code,
.input_verify_code,
.input_username,
.input_password,
.input_confirm_password,
.input_nickname {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    border: none;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn {
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
    color: white;
    background-color: #545f71;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn.with_kakao {
    background-color: #ffe400;
    color: black;
}

.btn.with_google {
    background-color: #ffffff;
    color: black;
    border: 1px solid #909090;
}

.list_user {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_user a {
    text-decoration: none;
    color: black;
}

.list_item {
    margin-right: 10px;
    position: relative;

    &:after {
        content: '|';
        margin-left: 10px;
        color: #909090;
    }

    &:last-child:after {
        content: none;
    }
}
