a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tldraw {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.p-md {
    padding: 12px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.color-dodgerblue {
    color: dodgerblue;
}

.absolute {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 40px;
}

.save_canvas {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 80px;
    width: 100px;
    height: 40px;
    background-color: #F94D4D;
}