a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tldraw {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .canvas {
        position: relative;
        flex-grow: 2;
        background-color: #545f71;
    }
    .toolbox {
        display: flex;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #333;
        z-index: 100;
        margin: 10px auto 1em;
        .qrModal {
            width: 400px;
        }
    }
    .info {
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions {
            display: flex;

            .btn {
                height: 40px;

                &.view_ctrl {
                    margin-right: 10px;
                }

                &.save {
                    background-color: #f94d4d;
                    min-width: 60px;
                }
            }
        }
    }
}

.save_canvas {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #f94d4d;
}
