a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tldraw {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.canvas {
    flex-grow: 2;
    position: relative;
    background-color: #545f71;
}
.p-md {
    padding: 12px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.color-dodgerblue {
    color: dodgerblue;
}

.info {
    z-index: 100;
    width: 100%;
    height: 40px;
}
