@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin desktop_s {
    @media (min-width: 768px) and (max-width: 1240px) {
        @content;
    }
}
@mixin desktop_l {
    @media (min-width: 1240px) {
        @content;
    }
}
$transition_time: 0.3s;

.album_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;

    .page_info {
        display: flex;
        transition: all $transition_time linear;

        @include mobile {
            width: 360px;
        }
        @include desktop_s {
            width: 750px;
        }
        @include desktop_l {
            width: 1230px;
        }

        .btn_prev,
        .btn_next {
            margin: 0 10px;
            cursor: pointer;
        }
        .page_date {
            display: flex;
            align-items: center;
            background-color: white;
            box-shadow: 2px 2px;
            border-radius: 5px;
            padding: 0 15px;
            cursor: default;
        }
    }

    .book {
        margin: 10px 0;
        position: relative;
        display: flex;
        transition: all $transition_time linear;

        @include mobile {
            width: 360px;
            perspective: 1000px;
        }
        @include desktop_s {
            width: 750px;
            perspective: 1500px;
        }
        @include desktop_l {
            width: 1230px;
            perspective: 2000px;
        }

        .left {
            left: 10px;
            &.flip {
                background: red;
                transform-origin: 100% 0%;
            }
        }
        .right {
            transition: all $transition_time linear;
            @include mobile {
                display: none;
            }
            @include desktop_s {
                left: 380px;
            }
            @include desktop_l {
                left: 620px;
            }

            &.flip {
                background: blue;
                transform-origin: 0% 100%;
            }
        }
        .page {
            position: absolute;
            top: 10px;
        }
        .flip {
            z-index: 1;
            backface-visibility: hidden;
            transition: transform linear;
        }
    }

    .left_cover,
    .right_cover {
        background-color: #ffebd8;
        border: 10px solid #d27c2c;
        border-radius: 10px;
        transition: all $transition_time linear;

        @include mobile {
            width: 360px;
            height: 428px;
        }
        @include desktop_s {
            width: 375px;
            height: 452px;
        }
        @include desktop_l {
            width: 615px;
            height: 740px;
        }
    }
    .right_cover {
        @include mobile {
            display: none;
        }
    }

    .page_content {
        transition: all $transition_time linear;
        @include mobile {
            width: 340px;
            height: 408px;
        }
        @include desktop_s {
            width: 360px;
            height: 432px;
        }
        @include desktop_l {
            width: 600px;
            height: 720px;
        }

        .page_menu {
            display: none;
        }
        &:hover .page_menu {
            position: absolute;
            display: flex;
            right: 10px;
            top: 10px;
            z-index: 1;

            .icon {
                background-color: white;
                margin: 5px;
                padding: 5px;
                border-radius: 100px;
            }
        }
    }
}
