.diary_page {
    height: calc(100vh - 210px);
    border: 5px solid #d27c2c;
    border-radius: 10px;

    .diary_content {
        position: fixed;
        width: calc(100% - 20px);
        height: calc(100vh - 230px);
        padding: 5px;
    }
}
