.content {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    @media (min-width: 768px) {
        flex-direction: row;

        hr {
            display: none;
        }
    }
}
