.check_nickname {
    $height: 30px;

    display: flex;
    .input.nickname {
        height: $height;
        margin: 10px;
        background-color: white;
        border: 1px solid black;
    }

    .btn.verify_nickname {
        width: 120px;
        height: $height;
        margin: 10px;
    }
}
