.reword_card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 150px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
    &_image {
        margin-top: 50px;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }
    &_title {
        margin-left : 30px ;
        display :flex ;
        flex-direction :column ; // title 안의 요소들을 수직으로 배치합니다.
        &_line {
            margin-top :10px ;
            display:flex ;
            > h3 { // h3 태그에 대해서만
                flex-grow :1 ; // 가능한 한 많은 공간을 차지하도록 설정
             }
         }
         &_goal {
            font-size: large;
            position: absolute; /* 절대 위치로 설정합니다. */
            right: 30px; /* 오른쪽 끝에 위치하도록 설정합니다. */
            top: 30px; 
            &_image {
                width: 50px;
                height: 50px;
            }
        }
    }

    &_description {
        display :flex ; 
         justify-content :space-between ;

        > * { 
             margin-right :10px ; 
         }
        > p {
            margin-top: 20px;
        }
    }
}